<!-- Inner Page Breadcrumb -->
<section class="inner_page_breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 offset-xl-3 text-center">
                <div class="breadcrumb_content">
                    <h4 class="breadcrumb_title">Course Enrollment</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Shop Checkouts Content -->
<section class="shop-checkouts">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8 col-xl-8">
                <div class="checkout_form">
                    <div class="checkout_coupon ui_kit_button">
                        <p>You are already Enrolled to this course. </p>
                        <p>To know about Enrolled Course and Payment Verification</p>
                        <a href="/user/order" style=" color:blue;">Click Here </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>




