@{
    ViewData["Title"] = "Contact Us";
}


<section class="inner_page_breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 offset-xl-3 text-center">
                <div class="breadcrumb_content">
                    <h4 class="breadcrumb_title">@ViewData["Title"]</h4>
                    <p style="color:white;">If you need any help, please contact us or send us an email. We are sure that you can receive our reply as soon as possible.</p>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="our-contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="contact_localtion text-center">
                    <div class="icon"><span class="flaticon-placeholder-1"></span></div>
                    <h4>Our Location</h4>
                    <p>
                        Khusibu,Balazu <br />
                        Kathmandu,Nepal
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="contact_localtion text-center">
                    <div class="icon"><span class="flaticon-phone-call"></span></div>
                    <h4>Contact</h4>
                    <p class="mb0">
                        Mobile: (+977) 9866199050 <br>
                        Phone: (01) 4165321
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="contact_localtion text-center">
                    <div class="icon"><span class="flaticon-email"></span></div>
                    <h4>Email</h4>
                    <p>info.tutorfinder@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</section>

@*<section class="our-team pb40">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xl-12">
                <p>If you need any help, please contact us or send us an email. We are sure that you can receive our reply as soon as possible.</p>
                <div class="col-md-6">
                    <table class="table table-bordered table-striped">


                        <tbody>
                            <tr>
                                <td>Address</td>
                                <td>Kupondole,Diamond Marga</td>
                            </tr>
                            <tr>
                                <td>Phone</td>
                                <td>01-5010820</td>
                            </tr>
                            <tr>
                                <td>Mobile No.</td>
                                <td>(977)9851181209 </td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>info.learnersnepal@gmail.com</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
</section>*@

